doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="/static/js/distr/main.min.js" type="text/javascript")
    link(rel="stylesheet", href="/static/css/distr/layout.min.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet")
    title Работа: #{title}
    block head
  body
    include includes/header.pug
    include includes/breadcrumps.pug
    block content
    include includes/footer.pug
