extends ./layout

block content
  .back-of-search
    .general-container
      h2 Спектакли
      img(src="/static/imgs/720.gif" class="preloader" id="preloader")
      p.total-perfs Оперных: #{perfsNum.opera} | Балетных: #{perfsNum.ballet} | Всего: #{performances.length}
      .searching
        input(type="text" id="search-perfs" class="search-perfs" placeholder="Начните вводить название")
        .search-resuts(id="search-results")
        if admin === true
          img(id="add-performance-btn" class="add-performance-btn" src="/static/imgs/add.png")
      .background-modal(id="background-modal")
        .new-performance
          .for-close
            img(src="/static/imgs/close_btn.png" class="close-span" id="close-adding-perf")
          label(for="perf-name") Название спектакля:
          input(type="text" id="perf-name" placeholder="Введите название")
          label(for="perf-type") Выберите:
          select(type="text" id="perf-type")
            option(value="" selected disabled) -- Тип постановки --
            option(value="opera") Опера
            option(value="ballet") Балет
          label(for="perf-pic-url") URL изображения спектакля:
          input(type="text" id="perf-pic-url" placeholder="URL картинки (необязательно)")
          label(for="perf-acts") Акты и длительность:
          div(class="perf-acts" id="perf-acts")
            .act-line
              span(class="perf-act" id="perf-act1") 1:
              input(type="text" class="act-time" id="act-time1" placeholder="1ч 15мин")
              button(id="add-act" class="add-mini-btn") +
          label(for="perf-points") Точки подвеса:
          div(class="perf-points" id="perf-points")
            span(class="no-points" id="no-points") - Нет
            button(id="add-points" class="add-mini-btn") +
          label(for="perf-notes") Заметки:
          textarea(placeholder="Дополнительные заметки (необязательно)" id="perf-notes")
          button(id="save-perf-btn" class="save-perf-btn") Создать
      .perf-card-back(id="card-back")
        .performance-card
          .for-close
            img(src="/static/imgs/close_btn.png" class="close-span" id="close-card-perf")
          h3(class="card-header" id="card-perf-name") 
          i &ndash; <span id="card-perf-type"></span>
          .left-and-right
            img(class="perf-img" id="card-perf-img" src="")
            .main-info(id="main-info")
              .card-acts(id="card-perf-acts")
              hr.break-card
              .points(id="card-perf-points")
                h4 Точки подвеса
                i &ndash; Отсутствуют
              .notes
                h4 Заметки
                p(id="card-perf-notes") &ndash; Отсутствуют
      .perf-points-back(id="points-back")
        .points-modal
          .for-close
            img(src="/static/imgs/close_btn.png" class="close-span" id="close-points-perf")
          .points-division
            .left-side
              h5.side-mark Левая сторона
              table.points-table(id="left-table")
                tr
                  th #
                  th Штп/Штп
                  th Мт-рж
                  th Мш-на
              button(class="add-point-btn" id="add-left-pt-btn") +
            .right-side
              h5.side-mark Правая сторона
              table.points-table(id="right-table")
                tr
                  th #
                  th Штп/Штп
                  th Мт-рж
                  th Мш-на
              button(class="add-point-btn" id="add-right-pt-btn" style="float:right;margin-right: 14px;") +
          hr
          p.total-points Всего точек: <span id="total-points-num">0 шт.</span>
          //- button(class="accept-points" id="accept-points-btn") Подтвердить
      .watch-points-user-back(id="user-points-back")
        .user-points-modal
          .for-close
            img(src="/static/imgs/close_btn.png" class="close-span" id="close-user-points")
            
          .points-division
            .left-side
              h5.side-mark Левая сторона
              table.points-table.user-table(id="left-usr-table")
                tr
                  th #
                  th Штп/Штп
                  th Мт-рж
                  th Мш-на
            .right-side
              h5.side-mark Правая сторона
              table.points-table.user-table(id="right-usr-table")
                tr
                  th #
                  th Штп/Штп
                  th Мт-рж
                  th Мш-на
          hr
          p.total-points Всего точек: <span id="total-user-points">0</span>
  script.
    const Performace = new Performance("", "!{admin}");