extends ./layout

block head
  script(src="/static/js/skedjs.js" type="text/javascript")

block content

  //- h2 График дежурств
  br
  table.sked-table-main
    thead
      tr
        th №
        th.weekdate 1 Пн
        th.weekdate 2 Вт
        th.weekdate 3 Ср
        th.weekdate 4 Чт
        th.weekdate 5 Пт
        th.weekdate 6 Сб
        th.weekdate 7 Вс
    tbody
      tr
        td Фамилия
        td
          select.shift-choose
            option 8.30
            option 16
        td
          select.shift-choose
            option 8.30
            option 16
        td
          select.shift-choose
            option 8.30
            option 16
        td 
          select.shift-choose
            option 8.30
            option 16
        td 
          select.shift-choose
            option 8.30
            option 16
        td
          select.shift-choose
            option 8.30
            option 16
        td
          select.shift-choose
            option 8.30
            option 16
      tfoot
        tr
          td(colspan="8" id="sked-main-foot")
            button(title="Создать новый (пустой) график дежурств" class="new-sked-bt" id="new-sked") Новый график

  //- each dateObj in dates
    span=dateObj.date
  script.
    window.onload = function() {
      const skedApp = new SkedApp();
      skedApp.init();
    };