
.theatral-events {
    display: flex;
    flex-direction: column;
}

.theatral-events > div {
    margin: 20px;
    background-color: rgb(203, 220, 251);
    padding: 5px 20px 25px;
    display: flex;
    flex-direction: column;
}

.ev-time,
.ev-msg {
    padding: 2px 6px;
    font-size: 1.1em;
}

.ev-time {
    margin-bottom: 4px;
    font-style: italic;
}

.ev-msg {
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 4px 12px;
}

@media only screen and (min-width:680px) {
    .theatral-events {
        flex-direction: row;
    }
}