
.theatral-events {
    display: flex;
    flex-direction: column;
}

.theatral-events > div {
    border-radius: 6px;
    margin: 10px 20px;
    border: 1px solid #b7aeb1;
    background-color: #bccef1;
    padding: 0px 15px 15px;
    display: flex;
    flex-direction: column;
}

.div-loader h3 {
    margin: 10px 0px;
}

.theatral-events > div:hover {
    background-color: #f5f4ff;
    cursor: pointer;
}

.ev-time,
.ev-msg {
    padding: 2px 6px;
    font-size: 1.1em;
}

.ev-time {
    margin-bottom: 8px;
    font-size: 1.3em;
    font-weight: 700;
    color: #52472e;
}

.ev-msg {
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 1.24em;
    padding: 4px 12px;
}

.cal-preloader {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.div-loader {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width:680px) {
    .theatral-events {
        flex-direction: row;
    }
}