extends ../layout

block content
  .general-container
    h2 Календари Большого Театра
    .theatral-events
      .stage-events 
        .div-loader
          h3 Репертуарный план
          img(src="/static/imgs/loader_triangles.gif" class="cal-preloader" id="stage-preloader")
        span.ev-time#stage-ev-time Сейчас: ...
          
        span.ev-msg#stage-ev-msg .....
      .teh-events
        .div-loader
          h3 Доп. технические работы
          img(src="/static/imgs/loader_triangles.gif" class="cal-preloader" id="teh-preloader")
        span.ev-time#teh-ev-time Сейчас: ...
        span.ev-msg#teh-ev-msg .....
      .zgp-events 
        .div-loader
          h3 График погрузок и работ с ЗГП
          img(src="/static/imgs/loader_triangles.gif" class="cal-preloader" id="load-preloader")
        span.ev-time#load-ev-time Сейчас: ...
        span.ev-msg#load-ev-msg .....
  script.
    const calendars = new Calendars();