extends ../layout

block content
  .general-container
    h2 Последние заметки
    .last-notes(id="last-notes")
      .note
        .user-info
          span Nickolas:
        .user-message
          p Обычное сообщение от пользователя, ничего особенного. Особенно если оно тебе нужно.
        .actions
          .up
            img(src="static/imgs/handup.svg" style="color: green;" class="handup")
          .down
            img(src="static/imgs/handown.svg" class="handown")
  script.
    //- const notes = new Notes();

    