extends ../layout

block content
  .general-container
    h2 Последние заметки
    .last-notes(id="last-notes")
      .note
        .user-info
          span.username Nickolas:
        .user-message
          p Обычное сообщение от пользователя, ничего особенного. Особенно если оно тебе нужно.
        .actions
          .hands
            .handup
              img(class="hand-up" src="static/imgs/handup.svg")
              .handup-num(id="handup-num") 2
            .handown 
              img(class="hand-down" src="static/imgs/handown.svg")
              .handown-num(id="handown-num") 0
  script.
    //- const notes = new Notes();

    