extends ../layout

block content
  .general-container
    h2 Немецкие обозначения
    table.german-notations-table
      tbody
        tr
          th(colspan="2") [OM] &ndash; ВЕРХНЯЯ МЕХАНИЗАЦИЯ 
        tr
          th German
          th Russian 
        tr
          td [BB01] Beleuchterbrücke
          td [ПСоф01] Портальный софит
        tr
          th Beleuchtergestelle
          th Софитные секции
        tr
          td [OL\xxx]-[OL\xxx]
          td [СЕК\xxx]-[СЕК\xxx]
        tr
          th Flugwerke
          th Полётные устройства
        tr
          td [FW\x]-[FW\x]
          td [ПУ\x]-[ПУ\x]