extends ../layout

block content
  .general-container
    h2 Блокировка дверей трюма
    p.instructions В трюме на -5 этаже для каждой площадки существуют 3 шкафа электроники, всего 21 шкаф для 7 площадок. 
    p.instructions Для блокировки/разблокировки боковых дверей трюма на -2 этаже для конкретной площадки, проведите следующие операции:
    ol.inst-ol
        li Узнайте номер площадки, двери которой нужно разблокировать.
        li На -5 этаже найдите три шкафа, отвечающие за данную площадку.
        li Отсчитайте третий шкаф, если начинать счёт слева на право.
            .image-description
                span На фото для примера взяты 3 шкафа 1-ой площадки +ША201
                img(src="/static/imgs/materials/lower-doors-1.jpg" class="prompt-contactors")
        li Внутри третьего шкафа, снизу чуть левее, найдите блок предохранителей.
            .image-description
                span На фото жёлтым цветом указан блок предохранителей.
                img(src="/static/imgs/materials/lower-doors-2.jpg" class="prompt-contactors")
        li Откиньте/Вставьте первый по счёту предохранитель, начиная считать слева на право для блокировки/разблокировки дверей.
            .image-description
                span На фото жёлтым цветом указан нужный предохранитель и стрелка направления откидывания.
        img(src="/static/imgs/materials/lower-doors-3.jpg" class="prompt-contactors")
    p.instructions PS: Для каждой площадки нужно лезть в свой шкаф!
