extends ../layout

block content
  .general-container
    ul.materials-ul
      //- li
        a(href="/materials/german-notations") Обозначения в каске
      li
        a(href="/materials/prompt-box") Суфлёрка