extends ../layout

block content
  .general-container
    ul.materials-ul
      li
        a(href="/materials/german-notations") Немецкие обозначения
      li
        a(href="/materials/prv-schema") Расположение ПРВ
      li
        a(href="/materials/prompt-box") Суфлёрка