extends ../layout

block content
  .general-container
    ul.materials-ul
      li
        a(href="/materials/german-notations") Немецкие обозначения
      li
        a(href="/materials/prv-schema") Расположение ПРВ
      li
        a(href="/materials/prompt-box") Суфлёрка
      li
        a(href="/materials/lower-doors-lock") Блокировка дверей трюма
      li
        a(href="/materials/plug-sockets") Расположение гнрА
      li
        a(href="/materials/refu-rd52-parametrization") Параметризация REFU-платы в частотнике серии RD52
