extends ../layout

block content
	.general-container
		h2 Расположение гнрА
		table.gnr-table
			tbody
				tr
					th гнрА
					th Сторона
					th Помещ.
					th Располож.
					th Пульт 
				tr 
					td 0
					td Левая
					td -5.22
					td Помещение автоматики НМ, на столбе
					td SC1
				tr
					td 1
					td Правая
					td 2.80
					td Сцена, на стене возле Портальной Башни
					td -
				tr
					td 2
					td Левая
					td 2.80
					td Сцена, на стене возле Портальной Башни
					td -
				tr
					td 3
					td Правая
					td 2.80
					td Сцена, на стене возле ГП (ШтП111)
					td -
				tr
					td 4
					td Левая
					td 2.80
					td Сцена, на стене возле СП7 (ШтП79)
					td -
				tr 
					td 5
					td Правая
					td 6.11
					td 1-ая рабочая галерея, в центре (ШтП23)
					td -
				tr 
					td 6
					td Левая 
					td 2.38
					td Арьерсцена, на стене возле ВП2 (ШтП209)
					td -
				tr 
					td 7
					td Правая
					td 7.12
					td 2-ая рабочая галерея, в центре (ШтП27)
					td SC7
				tr
					td 8
					td Левая
					td 3.66
					td Галерея над пультом помощника режиссера
					td -
				tr
					td 9
					td Правая 
					td 7.12
					td 2-ая рабочая галерея, в центре (ШтП29)
					td SC5
				tr 
					td 10
					td Левая 
					td 4.49
					td Галерея над пультом помощника режиссера
					td SC4
				tr
					td 11
					td Правая
					td 11.01
					td Колосники, 2-ой ряд, на столбе (ШтП22)
					td CP2
				tr 
					td 12
					td Левая
					td 6.48
					td 1-ая рабочая галерея, в центре (ШтП22)
					td SC8
				tr 
					td -
					td -
					td -
					td -
					td -
				tr 
					td 14
					td Левая
					td 7.49
					td 2-ая рабочая галерея, в центре (ШтП30)
					td SC2
				tr 
					td -
					td -
					td -
					td -
					td -
				tr 
					td 16
					td Левая
					td 7.49
					td 2-ая рабочая галерея, в центре (ШтП32)
					td SC6
				tr 
					td -
					td -
					td -
					td -
					td -
				tr 
					td 18
					td Левая
					td 11.06
					td Колосники, 2-ой ряд, на столбе (ШтП47)
					td CP1
				tr 
					td -
					td -
					td -
					td -
					td -
				tr
					td 20
					td Левая
					td 2.80
					td Сцена, на Портальной Башне внизу
					td -
				tr 
					td .СП1
					td Правая
					td -
					td Нижняя платформа СП1, на колонне в люке
					td SC3
				tr 
					td .СП2
					td Правая
					td -
					td Нижняя платформа СП2, на колонне в люке
					td -
				tr 
					td .СП3
					td Правая
					td -
					td Нижняя платформа СП3, на колонне в люке
					td -
				tr 
					td .СП4
					td Правая
					td -
					td Нижняя платформа СП4, на колонне в люке
					td -
				tr 
					td .СП5
					td Правая
					td -
					td Нижняя платформа СП5, на колонне в люке
					td -
				tr
					td .СП6
					td Правая
					td -
					td Нижняя платформа СП6, на колонне в люке
					td -
				tr 
					td .СП7
					td Правая
					td -
					td Нижняя платформа СП7, на колонне в люке
					td -
				tr 
					td БЕТд1
					td Центр
					td 2.80
					td Сцена, под помещением звонницы
					td CPW (1)
				tr 
					td БЕТд2
					td Правая
					td 2.38
					td Арьерсцена, в кармане в углу
					td CPW (2)