extends ../layout

block content
  .general-container
    h2.prompt-box-head Расположение ПРВ
    .splitted
      table.prv-table
        tbody
          tr
            th(class="main-1" colspan=2) Противо-пожарные Ворота
          tr 
            th №
            th Расположение
          tr
            td ПРВ1
            td ВОРОТА ГП -2
          tr
            td ПРВ2
            td ВОРОТА ГП -3
          tr
            td ПРВ3
            td ВОРОТА ЗГП -2
          tr
            td ПРВ4
            td ВОРОТА ЗГП -3
          tr
            td ПРВ5
            td ВОРОТА ЗГП -4 (СКЛАД)
          tr
            td ПРВ6
            td ВОРОТА ЗГП -4 (коридор ТП)
