extends ../layout

block content
  .general-container
    h2 Параметризация REFU-платы в частотнике серии RD52
    .rd52-desc
      p Если в частотнике серии RD52 для приводов верхней механизации отказала REFU-плата, нужно скопировать с неё параметры, установить новую плату, загрузить скопированные параметры и, при необходимости, сбросить ошибки. Это можно сделать с помощью панели оператора REFU (артикул RZB01.1):
      ol 
        li Подключаем панель к разъему RS232 на логической части частотника. Панель должна ожить, на ней через некоторое время появится описание ошибки и время её появления.
        li Заходим в меню параметризации: нажимам на панели [Prog], появляются надписи "PARAMETRIEREN/Quick Setup/Gefuhrte Parametr./Numerische Liste".
        li Выбираем английский язык для удобства работы: [-] &rarr; Quick-Setup &rarr; [Enter] &rarr; P0010 Anzeigesprache &rarr; [Enter] &rarr; [+ или -] &rarr; Englisch &rarr; [Enter].
          <br>Нажимаем [ESC], чтобы вернуться  меню параметризации.
        li Копируем параметры частотника в панель: [-] &rarr; guided parametr. &rarr; [Enter] &rarr; [-] &rarr; device configurat'n &rarr; [Enter] &rarr; [+] &rarr; P0733 Copy data to keypad &rarr; [Enter] &rarr; [+] &rarr; yes &rarr; [Enter]. 
          <br> Запустится копирование параметров, будет надпись "copy data to keypad / block ... ", номера блоков будут меняться от 1 до примерно 300.
        li Именуем набор скопированных параметров: после копирования появится надпись "parameter block identification of BF please enter name!" и ниже название по умолчанию, оставшееся от предыдущего копирования. Если устраивает, то просто нажимем [Enter]. Если хотим другое, с помощью [+, -, &larr;, &rarr;] вводим имя и также нажимаем [Enter].
        li Возможно, появится надпись "copy data to EEPROM? Enter = yes / Esc = no". Нажимаем [Enter], чтобы сохранить настройку английского языка.
        li Убираем панель, выключаем частотник, вынимаем неисправную плату, ставим новую, включаем частотник, подключаем панель.
        li При необходимости кватируем ошибку данных памяти Fault EEPROM data (чаще всего, появляется при установке новой REFU-платы в частотник): <br> [Prog] &rarr; [Enter] &rarr; [-] &rarr; [Numerical list] &rarr; [Enter] &rarr; [+, -, &larr;, &rarr;] &rarr; P0060 Special quit &rarr; [Enter] &rarr; [+ или -] &rarr; 1 &rarr; [Enter].
        li Нажимаем [Esc], чтобы вернуться в меню параметризации.
        li Копируем параметры из панели в частотник: <br> [-] &rarr; guided parametr. &rarr; [Enter] &rarr; [-] device configurat'n &rarr; [Enter] &rarr; [+] &rarr; P0732 Copy from keypad &rarr; [Enter] &rarr; [+] &rarr; yes &rarr; [Enter] &rarr; enter password &rarr; <b>вводим пароль 3-его уровня</b> (только так в частотник загрузятся все параметры из панели) <b>[&rarr;] [Esc] [Mon] [Prog]</b>, на экране при этом будут отображаться звездочки, нажимаем [Enter] для подтверждения.
          <br> Появятся надписи "values of BF / password level 3 / Enter = yes / Esc = no", нажимаем [Enter]. Пойдет загрузка параметров, будет надпись "copy from keypad / block ...", номера блоков будут меняться от 1 до примерно 300.  
        li При необходимости сбрасываем ошибки привода на пульте SYB2000.
        li Если всё сделано правильно, на частотнике будут гореть светодиоды Ready и On и привод будет готов к работе.